body {
  font-family: "Roboto", sans-serif;
  background-color: whitesmoke;
}

/* navbar css starts here  */
.bg-light {
  background-color: #ffffff !important;
}

.navbar-brand {
  font-family: "Sansita Swashed", cursive;
  font-size: 1.5rem;
  color: #0f0f0f !important;
}

.nav-link {
  color: #000000 !important;
  font-family: "Noto Sans JP", sans-serif;
}

.nav-link:hover {
  background-color: #e1e1e1;
}
/* navbar css ends here  */

.my-info {
  padding: 2rem 5rem;
}

.btn-info {
  padding: 1rem 1.2rem;
  background-color: #888753 !important;
  color: rgb(255, 255, 255) !important;
  margin-left: 5px;
  padding: 0.75rem;
  transition: all 0.3s;
}

.btn-info:hover {
  color: #000 !important;
}
